@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9ECF8;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
    gap: 20px; 
    padding: 20px; 
}

.secao_texto_botao {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    height: 100vh;

}

textarea {
    color: #0A3871;
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #0A3871;
    padding: 10px;
    background-color: #E9ECF8;
}

.texto_aviso {
    align-items: center;
    margin-bottom: 20px; 
    
}

.img_aviso{
    width: 12px;
    height: 12px; 
}

.aviso {
    color: #495057;
    font-size: 12px;
    flex-direction: row;
    display: inline;
}

#botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.botao {
    padding: 20px 70px;
    font-size: 19px;
    font-weight: normal;
    border-radius: 20px;
    margin: 10px 0; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.criptografar {
    background-color: #0A3871;
    color: white;
}

.criptografar:hover {
    background-color: #3a6084;
}

.descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.descriptografar:hover {
    background-color: #c2cfd6;
}

.secao_resposta {
    background-color: white;
    height: 90vh;
    width: 400px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

#res {
    width: 100%;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    flex: 1;
}

#copiarBtn {
    display: none;
    background-color: #e3e9ec;
    border: 1px solid #0A3871;
    color: #1e395b;
}

#copiarBtn:hover {
    background-color: #D8DFE8;
}

strong {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #343A40;
    padding: 20px;
}

.secao_resposta > p {
    font-size: 16px;
    color: #495057;
    padding: 20px;
}

footer {
    background-color: #F1F3F6;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #495057;
}

@media screen and (max-width: 768px)  {
    main {
        flex-direction: column;
        align-items: center;
    }

    textarea {
        height: 300px;
        width: 450px;
        font-size: 16px;
    }
    
    .secao_texto_botao {
        height: 100%;
    }

    #res > img {
        display: none;
    }

    .secao_resposta {
        height: 100%;
        width: 100%;
     }
}

@media  screen and (min-width:380px) {
    textarea {
        width: 100%;
        font-size: 14px; 
    }

    .botao {
        padding: 15px 40px;
    }
    
}